.header{
    background: #F2C364 !important;
    display: flex;
    flex-direction: column;
    height: 170px;
}
.fixed-top{
    z-index: 0;
}
.header-title{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    color: black !important;
    position: absolute;
    left: 155px;
    top: 25px;
}
.logo{
    padding-top: 18px;
    position: absolute;
    right: 30%;
}
.bm-burger-button {
    left: 22px !important;
}
.header-container{
    display: flex !important;
    justify-content: flex-start !important;
}
@media(max-width:425px){
    .header-title{
        font-size: 20px;
        left:85px;
        top: 2px;
    }
    .logo{
            height: 115px;
            margin-left: 35%;
            padding-top: 45px;
    }
}
@media screen and (min-device-width:990px) and (max-width:1400px){
    .logo{
        right: 20%;
        position: absolute;
    }
}
@media screen and (min-device-width:370px) and (max-width:425px){
    .header-title{
        left: 120px;
    }
}