.home-page{
    width: 100%;
    height: 100vh;
   
   display: flex;
   justify-content: center;
   align-items: center;
}
.home-title {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 53.46px;
}
.wrapper{
    background: #F2C364;
}
.language-buttons{
    position: absolute;
    top: 50px;
    right: 150px;
    float:right;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.73px; 
}
@media(max-width:425px){
    .language-buttons{
        top: 38px;
        right: 30px;
    }
}