.first-section{
    height: 100vh;
    width: 100%;
    background: #fff;
}
.product-container{
    padding-top: 150px;
}
.product-card{
    background-color: #fff;
    height: 399px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 4px;
}
.product-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-top: 20px;
}
.price-rectangle{
    width: 47%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin: 0 auto;
}
.product-price{
    text-align: left;
    padding-left: 30%;
}